cp-select{
    * {
        font-family: "Roboto", sans-serif;
        -webkit-font-smoothing: antialiased;
        font-size: 14px;
    }
    ::-webkit-scrollbar-track
    {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        border-radius: 3px;
    }

    ::-webkit-scrollbar
    {
        width: 5px;
    }
    
    ::-webkit-scrollbar-thumb
    {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
        background-color: #555;
    }
    .cp-select-container{
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        width: 100%;
        position: relative;
        border-radius: 3px;
        background-color: #fff;
        border: 1px solid #ccc;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
        -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        height: 34px;
        div.cp-select-view {
            flex: 1;
            padding: 0 14px;
        }
        input{
            margin: 0;
            padding: 0 14px;
            display: block;
            width: 100%;
            height: 100%;
            font-size: 14px;
            line-height: 1.42857143;
            color: #555;
            background-color: #fff;
            background-image: none;
            border: none;
            outline: none;
        }
        input ~ label{
            display: none;
        }
        ul {
            display: none;
            flex-direction: column;
            border: 1px solid #ccc;
            position: fixed;
            background: #FFF;
            padding: 0;
            margin: 0;
            max-height: 300px;
            overflow: auto;
            li{
                max-width: 100%;
                min-height: 48px;
                display: flex;
                align-items: center;
                padding: 5px 14px;
                cursor: pointer;
                &.focused, &:hover{
                    background: #F5F5F5;
                }
                > * {
                    display: flex;
                    align-items: center;
                }
                img{
                    margin-right: 10px;
                }
                .cp-option-content{
                    flex: 1;
                }
                .cp-favorite-content{
                    width: 30px;
                    svg {
                        width: 18px;
                    }
                }
            }
        }
        .cp-select-btns{
            cursor: pointer;
            height: 100%;
            display: flex;
            align-items: center;
            margin-right: 14px;
        }
        .arrow-down {
            width: 0;
            height: 0;
            border-left: 7px solid transparent;
            border-right: 7px solid transparent;
            border-top: 7px solid #666;
        }
        .close {
            position: relative;
            width: 24px;
            height: 12px;
            opacity: 1;
          }
        .close:hover {
            opacity: 1;
        }
        .close:before, .close:after {
            position: absolute;
            left: 15px;
            content: ' ';
            height: 12px;
            width: 2px;
            background-color: #333;
        }
        .close:before {
            transform: rotate(45deg);
        }
        .close:after {
            transform: rotate(-45deg);
        }
    }    
    .cp-select-loading {
        display: inline-block;
        width: 14px;
        height: 14px;
        border: 2px solid #333;
        border-radius: 100%;
        border-top: 2px solid transparent;
            -webkit-animation: load-animate infinite linear 1s;
                    animation: load-animate infinite linear 1s;
    }
    
    @-webkit-keyframes load-animate {
        0% {
          -webkit-transform: rotate(0deg);
                  transform: rotate(0deg);
        }
        50% {
          -webkit-transform: rotate(180deg);
                  transform: rotate(180deg);
          opacity: 0.35;
        }
        100% {
          -webkit-transform: rotate(360deg);
                  transform: rotate(360deg);
        }
    }
    @keyframes load-animate {
        0% {
          -webkit-transform: rotate(0deg);
                  transform: rotate(0deg);
        }
        50% {
          -webkit-transform: rotate(180deg);
                  transform: rotate(180deg);
          opacity: 0.35;
        }
        100% {
          -webkit-transform: rotate(360deg);
                  transform: rotate(360deg);
        }
    }
    &.md{
        .cp-select-container{
            background: transparent;
            box-shadow: none;
            border: none;
            border-bottom: 1px solid #ccc;
            border-radius: 0;
            input{
                background: transparent;
                padding: 0;
                height: 34px;
                font-size: 14px;
                line-height: 1.42857143;
            }
            input ~ label{
                display: block;
                position: absolute;
                letter-spacing: 2px;
                font-size: 15px;
                pointer-events: none;
                left: 0;
                top: 7px;
                transition: 0.2s ease all;
                color: #999;
                font-weight: 400;
                font-family: "Roboto", sans-serif;
            }
            input:focus ~ label, input.focused ~ label, input[reflect-value]:not([reflect-value=""]) ~ label {
                top: -12px;
                transform: translate3d(0, 0px, 0) scale(0.8);
                transform-origin: left top;
                font-size: 1.6rem;
            }
            ul {
                box-shadow: 0 1px 3px 0 rgba(0,0,0,0.2), 0 1px 1px 0 rgba(0,0,0,0.14), 0 2px 1px -1px rgba(0,0,0,0.12);
                transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
                border-radius: 2px;
                border: none;
            }
            .cp-select-btns{
                margin-right: 5px;
            }
        }
    }
}